*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
}

.navbar{
    background: #131313;
    padding: 1rem 8rem;
}

.navbar .navbar-brand{
    font-size: 1.4rem;
    font-weight: 700;
}

#navbarSupportedContent > ul > li:nth-child(n) > a{
    color: #fff;
    size: 1.1rem;
    padding: 0.4rem 0.8rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
    color: #00BF85;
}

#navbarSupportedContent > ul > li:nth-child(6) > form > button{
    background: #00BF85;
    font-weight: 600;
    border-radius: 30px;
}

#navbarSupportedContent > ul > li:nth-child(3) > a.register{
    background: #00BF85;
    font-weight: 600;
    border-radius:30px;
}

.custom-card{
    height: 100%;
}

.card-container {
    height: 350px;
    position: relative;
}

.show-more-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}


body > main > div > div > div:nth-child(2) > form > button{
    background: #00BF85;
    font-weight: 600;
    border-radius: 30px;
    width: 250px;
}

