{% extends 'evendy/base.html' %}
{% block content %}
      <form class="d-flex" method="POST" action="{% url 'search_events' %}" role="search">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search Events" name="searched"  aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
<div class="row">
  {% for event in object_list %}
   <div class="col-md-6 mb-4">
    <div class="card h-100">
        <img src="{{ event.image.url }}" class="card-img-top" alt="event photo">
        <div class="card-body">
            <h5 class="card-title">{{ event.title }}</h5>
            <a href="{% url 'event_details' event.id %}" class="btn btn-primary">Show more</a>
        </div>
    </div>
</div>
  {% endfor %}
</div>
{% endblock %}
