{% extends 'evendy/base.html' %}
{% block content %}
        <div class="container-fluid">
            <img src="{{ event.image.url }}" class="card-img-top" alt="event_image" style="max-height: 200px;">
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text">{{ object.place }}</p>
                <p class="card-text">{{ object.date }}</p>
                <p class="card-text">{{ object.time }}</p>
                <form method="POST" action="{% url 'add_or_remove_user_from_seekers' event.id %}">
                    {% csrf_token %}
                    {% if user.profile in event.attendees_looking_for_company.all %}
                        <button type="submit" class="btn btn-danger" name="action" value="remove">Delete me from this event</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary" name="action" value="add">I'm looking for buddy for this event</button>
                    {% endif %}
                </form>
                <div class="container">
    <h5>Who is looking for a buddy for this event:</h5>
    <div class="row">
        {% for profile in event.attendees_looking_for_company.all %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img class="card-img-top rounded-circle profile-img" src="{{ profile.profile_image.url }}" alt="profile_image" style="max-width: 50px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ profile.user.username }}</h5>
                        <p class="card-text">{{ profile.calculated_age }}</p>
                        {% if user.is_authenticated and user.profile != profile %}
                        <form method="POST" action="{% url 'profile_details' profile.user.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-block btn-sm mb-2">View profile</button>
                        </form>
                            <button type="submit" class="btn btn-info btn-block btn-sm mb-2">Start chat</button>
                        <form method="POST" action="{% url 'invite_to_event' event.id profile.user.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-block btn-sm">Go together</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
            </div>
        </div>
{% endblock %}