{% extends 'evendy/base.html' %}
{% block content %}
        <div class="container-fluid">
            <img src="{{ event.image.url }}" class="card-img-top" alt="event_image" style="max-height: 200px;">
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text">{{ object.place }}</p>
                <p class="card-text">{{ object.date }}</p>
                <p class="card-text">{{ object.time }}</p>
                <form method="POST" action="{% url 'add_or_remove_user_from_seekers' event.id %}">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                            {% if user.profile in event.attendees_looking_for_company.all %}
                                <button type="submit" class="btn btn-danger" name="action" value="remove">Delete me from this event</button>
                            {% else %}
                                <button type="submit" class="btn btn-primary" name="action" value="add">I'm looking for buddy for this event</button>
                            {% endif %}
                    {% else %}
                        <p>You have to be logged in to start lookig for buddy for this event</p>
                        <button type="button" class="btn btn-primary" disabled>I'm looking for buddy for this event</button>
                    {% endif %}
                </form>
                <h5>Who is looking for a buddy for this event:</h5>
                    {% for profile in event.attendees_looking_for_company.all %}
                        <img class="rounded-circle profile-img" src="{{ profile.profile_image.url }}">
                        <p>{{ profile.user.username }}, ({{ profile.calculated_age }})</p>
                        {% if user.is_authenticated and user.profile != profile %}
                            <button type="submit" class="btn btn-info">Start chat</button>
                            <button type="submit" class="btn btn-success">Go together</button>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
{% endblock %}