{% extends 'evendy/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ user.profile.profile_image.url }}" alt="profile_pic">
    <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondaty">{{ user.email }}</p>
        <p>Age: {{ user.profile.calculated_age }}</p>
    </div>
  </div>
  <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile info</legend>
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
            </fieldset>
  </form>
</div>
{% endblock %}