{% extends 'evendy/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container profile-container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 mit-5">
            <div class="row">
                <div class="col-sm-4 profile-card rounded-left">
                    <div class="card-block text-center pt-4">
                        <img class="account-img shadow rounded" src="{{ user.profile.profile_image.url }}" alt="profile_pic">
                        <h2 class="account-heading">{{ user.username }}</h2>
                        <p>You're age: {{ user.profile.calculated_age }}</p>
                        {% if user.profile.description %}
                        <p>About you: {{ user.profile.description }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-8 bg-white rounded-right">
                    <h3 class="mt-3 text-center">Information about you</h3>
                    <div class="row">
                        <div class="col">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    {{ user_form|crispy }}
                                    {{ profile_form|crispy }}
                                </fieldset>
                                <div class="form-group">
                                    <button class="btn custom-button" type="submit">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
