{% extends 'evendy/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="card mb-6 shadow">
                <div class="row">
                    <div class="col-md-4">
                        <img class="account-img" src="{{ profile.profile_image.url }}" alt="profile_pic">
                    </div>
                    <div class="col-md-8 pl-4">
                        <div class="card-body">
                            <h2 class="account-heading">{{ profile.user.username }}</h2>
                            <p>Age: {{ profile.calculated_age }}</p>
                            <p>About: {{ profile.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="pt-4 pb-4">{{ profile.user.username }} is also looking buddies for these events:</h4>
        </div>
    </div>
    <div class="row">
        {% for event in profile_planned_events %}
        <div class="col-md-3 mb-4">
            <div class="card event-card">
                <img class="card-img users-events-img" src="{{ event.image }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ event.title|truncatechars:20 }}</h5>
                    <p class="card-text">{{ event.date }}, {{ event.place }}</p>
                    <a href="{% url 'event_details' event.id %}" class="btn show-more-btn">See more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}