{% extends 'evendy/base.html' %}
{% block content %}
{% if searched %}
<h1>Results for searching {{ searched }}</h1>
<div class="row pt-5 pb-5">
    {% for event in events %}
    <div class="col-md-3 mb-4">
        <div class="card-container event-card">
            <div class="card custom-card" style="width: 100%">
                <img class="card-img-top" src="{{ event.image }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">{{ event.date }}, {{ event.place }}</p>
                    <a href="{% url 'event_details' event.id %}" class="btn show-more-btn mt-auto">Show more</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h1>You forgot to search for event !</h1>
{% endif %}
{% endblock %}
