{% extends 'evendy/base.html' %}
{% block content %}
<h1 class="pb-4">I'm looking buddies for this events:</h1>
<div class="row">
    {% for event in planned_events %}
    <div class="col-md-3 mb-4">
        <div class="card event-card">
            <img class="card-img users-events-img" src="{{ event.image }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ event.title }}</h5>
                <p class="card-text">{{ event.date }}, {{ event.place }}</p>
                <a href="{% url 'event_details' event.id %}" class="btn show-more-btn">See more</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}